body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#listaz {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 8px;
}

#button ,#jobbgomb {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#jsonTable,  #masiktable {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: blue ;
    color: white;
}

tr:hover {
    background-color: lightblue;
}