body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#listaz {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 8px;
}

#button ,#jobbgomb {
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(81, 105, 236), rgb(2, 30, 71));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#jsonTable,  #masiktable {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-image: linear-gradient(to bottom right, rgb(81, 105, 236), rgb(2, 30, 71));
    color:white;
    border: 3px solid black;
    text-transform: uppercase;
    text-align: center;
    
}

tr:hover {
    background-color: lightblue;
}
#back{
    float: left;
    margin-top: -5rem;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(56, 79, 211), rgb(7, 46, 105));
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem ;
    cursor: pointer;
    font-weight: bolder;
}